.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0px 30px;
}

.nav_left {
  display: flex;
  align-items: center;
}

.nav_left h1{
  color: white;
  font-size: 25px;
}

.logo {
  height: 40px;
  color: white;
  object-fit: contain;
  font-size: 20px;
}

.nav_right {
  display: flex;
  gap: 20px;
  
}

.nav_link {
  color: white;
  text-decoration: none;
  font-size: 23px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav_link:hover {
  color: #00bfff;
}


.profile_circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #b7e6f8; 
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile_circle:hover {
  background-color: #0099cc;
}

